<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/output.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='src/favicon.ico') }}"
    />
    <script
      src="{{ url_for('static', filename='src/index.js') }}"
      async
    ></script>
    <title>Petrol Control</title>
  </head>
  <body>
    <div>{{ fuels }}</div>
  </body>
</html>
