<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/output.css') }}"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='src/favicon.ico') }}"
    />
    <script
      src="{{ url_for('static', filename='src/index.js') }}"
      async
    ></script>
    <title>Petrol Control</title>
  </head>
  <body>
    <h1 class="max-w-screen-xl mx-auto font-semibold text-2xl text-center py-4">
      PetrolWatch
    </h1>
    <section
      class="grid sm:grid-cols-2 auto-rows-fr grid-cols-1 md:grid-cols-3 lg:grid-cols-4 p-4 gap-4 max-w-screen-xl mx-auto"
    >
      {% for company_name, fuels in fuels.items() %}
      <div
        class="border border-slate-100 overflow-hidden rounded-md bg-slate-50"
      >
        <div
          class="flex items-center justify-between py-2 px-2.5 bg-gradient-to-r gap-2 from-slate-100 to-slate-200/70 border-b border-b-slate-100"
        >
          <div class="flex gap-2 items-center">
            <img
              alt="{{ company_name.lower() }} logo"
              height="20"
              width="20"
              class="h-5 min-w-5 object-contain"
              src="{{ url_for('static', filename='src/logos/' ~ company_name ~ '.png') }}"
            />
            <h2 class="font-semibold text-lg text-slate-900">
              {{ company_name }}
            </h2>
          </div>
          <a
            href="#to-be-implemented"
            class="text-cyan-700 text-sm hover:underline mt-px flex-shrink-0"
            >View Locations &nearr;</a
          >
        </div>
        <div class="text-slate-700 divide-y divide-slate-200 py-0.5">
          {% for fuel in fuels %}
          <div class="flex py-1 px-2.5 justify-between">
            <h3>{{ fuel.fuel_name }}</h3>
            <p class="w-[48px] flex justify-between">
              <span>{{ fuel.fuel_price }}</span><span>₾</span>
            </p>
          </div>
          {% endfor %} {% for _ in range(6 - fuels | length) %}
          <div class="flex py-1 px-2.5 justify-between">
            <h3>-</h3>
            <p class="w-[48px] text-center">-</p>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </section>
  </body>
</html>
